.array-container{
    position: absolute;
    bottom:90px;
    left: 420px ;
   }
   .array-bar{
  
       border-radius: 10px;
       width: 35px;
       background-color: rgb(0, 0, 0);
       display:inline-block;
       margin:0 2px;
   } 

 .bar-value {
    position: absolute;
    bottom: -20px;
    font-size: 14px ;
    color: #000;
    margin: 0 -10px ;
 
  }
   
    .responsive {
      background-color: #b7acac;
       position: relative;
       border: 5px solid rgb(0, 0, 0);
       border-radius: 10px;
       background-size: contain;
       margin-top: 25px;
       margin-left: 370px;
       margin-right: 20px ;
       height: 800px;
       color: rgb(6, 77, 4);
       
       
   }


   /*------------------------------------     graphs       --------------------- */

   .grid{

    position: absolute;
    bottom:90px;
    left: 420px ;

   }

   .node
   {

      width: 25px;
      height: 25px;
      outline: 1px solid rgb(134, 128, 128);
      display: inline-block;
      border-radius: 20%;
      margin:0 .20px;
    
   }
   .node_started
   {
      background-color:rgb(0, 0, 0);
      background-size: cover;
      padding:0;
      margin:0;
   }  
   .node_finish{

    background-color: rebeccapurple;
      
   } 